[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Main project of argouml. All old history.
[access "refs/*"]
	owner = group user/Linus Tolke (linustolke)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Linus Tolke (linustolke)
	label-Verified = -1..+1 group user/Linus Tolke (linustolke)
	push = group user/Linus Tolke (linustolke)
	read = group user/Linus Tolke (linustolke)
	rebase = group user/Linus Tolke (linustolke)
	removeReviewer = group user/Linus Tolke (linustolke)
	submit = group user/Linus Tolke (linustolke)
[access "refs/heads/*"]
	create = group user/Linus Tolke (linustolke)
	push = +force group user/Linus Tolke (linustolke)
	pushMerge = group user/Linus Tolke (linustolke)
	read = group user/Linus Tolke (linustolke)
[access "refs/tags/*"]
	push = group user/Linus Tolke (linustolke)
	push = +force group user/Linus Tolke (linustolke)
