/*  $Id$  */ 
BODY {font-family: "Verdana,Arial,Helvetica,sans-serif"; font-weight: normal; text-align: left;}
H2 {font-family: "Arial Narrow,Arial,Helvetica,sans-serif"; font-size: 180%; color: #008080; font-weight: bold; text-decoration: none; margin-left:0; text-align: left; margin-bottom:0px;}
H3 {font-family: "Arial Narrow,Arial,Helvetica,sans-serif"; font-size: 150%; color: #008080; font-weight: bold; text-decoration: none; margin-left:0; text-align: left; margin-bottom:0px;}
HR {color: #646634;}
.foot {font-size: 80%; margin-top:0px;}
.floatleft {float: left; margin-right:20px; margin-bottom:10px;} 