/** $Id$
*******************************************************************************

Style sheet for the ArgoUML manual

*******************************************************************************
******************************************************************************/

/* The body set black text, 11pt font-size (do we really want to be explicit
   about this, surely it should be relative), and preferred fonts */

body, table {
  color:       #000000 ;
  font-size:   11pt ;
  font-family: lucida,verdana,helvetica,arial,sans-serif }
