Manifest-Version: 2.0
Class-Path: jmi.jar jndi.jar
Created-By: 1.2 (Sun Microsystems Inc.) 

Name: org/argouml/api/
Specification-Title: ArgoUML
Specification-Version: ${component.build.version}
Specification-Vendor: University of California
Implementation-Vendor: University of California
Implementation-Version: ${component.build.version}
Implementation-Title: ArgoUML
